*,
:after,
:before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #e7e718 0%, #7d8282 100%);
  background-attachment: fixed;
  color: rgba(0, 0, 0, 0.7);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Rubik', sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photo {
  margin: 40px;
  width: 200px;
  border: solid 1px #7d8282;
  border-radius: 70%;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .names {
    text-align: center;
    width: 50%;
    justify-content: center;
    flex-direction: row;
  }
  .and {
    padding: 0 15px 0 15px;
  }
}
.contact {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 500;
}
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 55px;
  }
}
.menu .item {
  padding: 17px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  background-color: #eb39ea;
  border: solid 1px #eb39ea;
  transition: 0.3s;
}
@media only screen and (min-width: 600px) {
  .menu .item {
    margin-bottom: 0;
    flex-basis: 20%;
  }
}
.menu .item:hover {
  background-color: #f38df3;
  border: solid 1px#F38DF3;
  transition: 0.3s;
}
